In [1]:
import pandas as pd
df=pd.read_csv("Sample.csv")
df

  Name  Age  Salary Gender   Dept
0  Abc   20  14,000      M    ECE
1  Def   21  50,000      F    CSE
2  Ghi   22  40,000      F   MECH
3  Jkl   23  20,000      M  CIVIL

In [2]:
print(df.groupby(["Gender"]))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001FDB8A2C8B0>

In [3]:
a=df.groupby(["Gender","Dept"])

In [4]:
print(a.groups)

{('F', 'CSE'): [1], ('F', 'MECH'): [2], ('M', 'CIVIL'): [3], ('M', 'ECE'): [0]}

In [7]:
print(df.groupby(["Dept"]).max())

      Name  Age  Salary Gender
Dept
CIVIL  Jkl   23  20,000      M
CSE    Def   21  50,000      F
ECE    Abc   20  14,000      M
MECH   Ghi   22  40,000      F

In [8]:
print(df.groupby(["Gender"]).max())

       Name  Age  Salary  Dept
Gender
F       Ghi   22  50,000  MECH
M       Jkl   23  20,000   ECE

In [9]:
print(df.groupby(["Gender"]).groups)

{'F': [1, 2], 'M': [0, 3]}

In [10]:
print(df.groupby(["Dept"]).groups)

{'CIVIL': [3], 'CSE': [1], 'ECE': [0], 'MECH': [2]}

In [11]:
g=df.groupby(["Gender"])
print(g.get_group("M"))

  Name  Age  Salary Gender   Dept
0  Abc   20  14,000      M    ECE
3  Jkl   23  20,000      M  CIVIL

In [12]:
df["Gender"].value_counts()

M    2
F    2
Name: Gender, dtype: int64