In [1]:
import pandas as pd
a=pd.Series([10,20,30])
print(a)

0    10
1    20
2    30
dtype: int64

In [ ]:
import pandas as pd
a=pd.Series([10,20,30])
print(a)

In [3]:
import pandas as pd
a=pd.Series([10,20,30],index=[2,3,4])
print(a)

2    10
3    20
4    30
dtype: int64

In [5]:
import pandas as pd
a=pd.DataFrame({"abc":[123],"def":[456],"ghi":[789]})
print(a)

   abc  def  ghi
0  123  456  789

In [4]:
import pandas as pd
ds1=pd.Series([2,4,6,8,10])
ds2=pd.Series([1,3,5,7,9])
ds=ds1+ds2
print("Add two Series:")
print(ds)
print("subtract two Series:")
ds=ds1-ds2
print(ds)
print("multiply two Series:")
ds=ds1*ds2
print(ds)
print("divide Series1 by Series2:")
ds=ds1/ds2
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    19
dtype: int64
subtract two Series:
0    1
1    1
2    1
3    1
4    1
dtype: int64
multiply two Series:
0     2
1    12
2    30
3    56
4    90
dtype: int64
divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [3]:
import pandas as pd
ds=pd.Series([2,4,6,8,10])
print(ds)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [5]:
import pandas as pd
ds=pd.Series([2,4,6,8,10])
print("pandas Series and type")
print(ds)
print(type(ds))
print("convert pandas Series to python list")
print(ds.tolist())
print(type(ds.tolist()))

pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
<class 'pandas.core.series.Series'>
convert pandas Series to python list
[2, 4, 6, 8, 10]
<class 'list'>

In [6]:
import pandas as pd
ds1=pd.Series([2,4,6,8,10])
ds2=pd.Series([1,3,5,7,10])
print("Series1:")
print(ds1)
print("Series2:")
print(ds2)
print("Compare theelements of thesaid Series")
print("Equals:")
print(ds1==ds2)
print("Greater than:")
print(ds1>ds2)
print("Less than:")
print(ds1<ds2)

Series1:
0     2
1     4
2     6
3     8
4    10
dtype: int64
Series2:
0     1
1     3
2     5
3     7
4    10
dtype: int64
Compare theelements of thesaid Series
Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than:
0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [9]:
import pandas as pd
s=pd.Series(["100","200","python","300.12","400"])
print("original Data Series:")
print(s)
new_s=pd.Series(s).sort_values()
print(new_s)

original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [10]:
import pandas as pd
s=pd.Series(data=[1,2,3,4,5],index=["A","B","C","D","E"])
print("original Data Series:")
print(s)
s=s.reindex(index=["B","A","C","D","E"])
print("Data Series after changing the order of index:")
print(s)

original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64